body {
  margin: 0;
  font-family: "Monument Extended", "Helvetica", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border: 0;
  border-radius: 0px;
}
::-webkit-scrollbar-track {
  background: rgba(19, 17, 18, 0.3);
  border: 0;
  border-radius: 0px;
}